.card-job-other {
    display: flex;
    width: 228px;
    height: 110px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border: 1px solid lightgray;
    margin-bottom: 16px;
}

.card-job-other-flexbox {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.card-job-other-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    color: #25324B;
}

.card-job-other-number {
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    color: #25324B;
}

.card-job-other-desc {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    color: #7C8493;
}
